.header {
    position: relative;
}

.panel {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 10px;
}

.panel ul li {
    font-size: 14px;
    display: inline;
    padding-right: 6px;
    padding-left: 4px;
}

.panel ul li:first-child {
    border-right: 2px solid black;
}

.logOut {
    color: #2e86ce;
}

.raw {
    background-color: #ffffff;
    width: 1140px;
    height: 605px;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer {
    margin-top: 24px;
    text-align: center;
    color: #9a9797;
    font-size: 13px;
    font-weight: bold;
}

.icon {
    padding-right: 5px;
    padding-left: 5px;
}

.icon img {
    width: 20px;
    height: 20px;
}

.highlight {
    color: #4592d3;
}

.path div {
    display: inline-block;
    margin-bottom: 18px;
}

.pageHorizontalLine {
    border: 1px solid black;
}

.activeFolder {
    background-color: #f5f5f5;
    color: #919191;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bolder;
    padding: 12px 16px 12px 16px;
}

.navbar {
    margin-top: 18px;
}

.search {
    display: inline-block;
    width: 42.5%;
}

.searchPanel {
    width: 100%;
    height: 33px;
    float: left;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dedbdb;
}

.searchPanel:focus-within{
    box-shadow: 0 0 5px rgb(80, 162, 222);
    border: 1px solid #50a2de;
}

.searchButton {
    display: inline-block;
    margin-left: -4px;
}

.rootButtons {
    display: inline-block;
    float: right;
}

.folderControlButton {
    outline: none;
    background-color: #ffffff;
    border: 1px solid #dedbdb;
    border-radius: 3px;
    margin-left: -4px;
    padding: 6px 11px 6px 11px;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.tableBox{
    margin-top: 10px;
    height: 83%;
    overflow:auto;
}

.table {
    outline: none;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-overflow: ellipsis;
    overflow: hidden;
}


.table tr {
    outline: none;
    border-top: 1px solid #dedbdb;
    width: 100%;
}

.table .folderMarker {
    width: 20px;
    padding-left: 5px;
}

.table .picture {
    font-size: 20px;
    width: 35px;

}

.table .name {
    font-size: 13px;
    font-weight: bold;
    width: 475px;
}

.table .type {
    font-size: 13px;
    font-weight: bold;
    width: 150px;
}

.table .size {
    width: 50px;
    text-align: right;
}

.table .hiddenButtons {
    width: 80px;
}

tr {

}

td {
    padding: 13px 0 10px 15px;
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
    .raw {
        width: 940px;
    }
}

@media screen and (max-width: 520px) {
    .raw {
        width: 390px;
        height: 450px;
    }
}