.header {
    position: relative;
}

.panel {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 10px;
}

.panel ul li {
    font-size: 14px;
    display: inline;
    padding: 2px 6px 2px 4px;
}

.panel ul li:first-child {
    border-right: 1px solid #050505;
}

.logOut {
    color: #2e86ce;
}

.raw {
    background-color: #ffffff;
    width: 490px;
    height: 605px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer {
    margin-top: 25px;
    text-align: center;
    color: #9a9797;
}

.icon {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
}

.icon img {
    width: 20px;
    height: 20px;
}

.highlight {
    color: #4592d3;
}

.copyright {
    margin-top: 3px;
}

.path {
    display: inline-block;
    margin-bottom: 9px;
    background-color: #f5f5f5;
    color: #919191;
    border-radius: 4px;
}

.folder {
    display: inline-block;
    margin-right: -4px;
    padding: 8px 16px;

}

.folder:first-child:before {
    content: none;
}

.folder:before {
    content: "/";
    color: #d7d7d7;
    padding-right: 5px;
    margin-left: -25px;
}

.pageHorizontalLine {
    border-right: 1px solid #000000;
    margin-top: 10px;
}


.navbar {
    margin-top: 15px;
}

.searchPanel {
    display: inline-block;
    border-radius: 3px;
    width: 75%;
}

.invalidInputValue input{
    float: none;
}

.inputSearchQuery {
    display: inline-block;
    width: 65%;
    margin-left: 0;
}

.inputSearchQuery input {
    padding: 8px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
    float: none;
}

.searchButton {
    margin-left: -4px;
    display: inline-block;
}

.button-search {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.rootButtons {
    font-size: 13px;
    outline: none;
    border: 1px solid #505050;
    border-radius: 5px;
    float: right;
    margin-top: 5px;
}

.folderControlButton {
    border-radius: 0;
    padding: 8px 12px;
}

.folderControlButton:first-child {
    border-right: 2px solid #383636;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.folderControlButton:last-child {
    margin-left: -4px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}


.renameElement {
    margin-left: -10px;
}

.renameElement input {
    margin: 0;
}

.errorRenameMassage{
    font-size: 12px;
}

.errorRenameMassage label{
    margin-left: 0;
}

.tableBox {
    margin-top: 16px;
    height: 80%;
    overflow: auto;
}

.table {
    outline: none;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    line-height: 1.35;
}

.table tr {
    outline: none;
    border-top: 1px solid #dedbdb;
    width: 100%;
}

.table .folderMarker {
    width: 30px;
    text-align: center;
    padding-left: 10px;
}

.table .picture {
    text-align: center;
    font-size: 20px;
    width: 50px;

}

.table .name {
    padding: 5px 10px;
}

.table .type {
    width: 160px;
    display: none;
}

.table .size {
    width: 120px;
    text-align: right;
    display: none;
}

.table .hiddenButtons {
    width: 80px;
    text-align: center;
    font-size: 20px;
}

.elementControlButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    visibility: hidden;
}

.deleteElementButton {
    color: #d71313;
}

.downloadElementButton {
    color: #50a0d9;
}

.uploadElementButton {
    color: #18c918;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:hover .elementControlButton {
    visibility: visible;
}

td {
    padding: 9px 10px;
}

@media screen and (min-width: 1200px) {
    .raw {
        width: 1140px;
    }

    .searchPanel{
        width: 65%;
    }

    .table .type {
        display: table-cell;
    }

    .table .size {
        display: table-cell;
    }


    .renameElement {
        width: 50%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .raw {
        width: 940px;
    }

    .searchPanel{
        width: 63%;
    }

    .table .type {
        display: table-cell;
    }

    .table .size {
        display: table-cell;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .raw {
        width: 720px;
    }

    .searchPanel{
        width: 58%;
    }

    .table .size {
        display: table-cell;
    }

    .renameElement {
        width: 75%;
    }

}

@media screen and (min-width: 520px) and (max-width: 767px) {
    .raw {
        width: 735px;
    }

    .searchPanel{
        width: 85%;
    }

    .table .name {
        width: 80%;
    }
}