.header {
    position: relative;
}

.panel {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 15px;
}

.panel ul li {
    font-size: 14px;
    display: inline;
    padding-right: 6px;
    padding-left: 4px;
}

.panel ul li:first-child {
    border-right: 2px solid #050505;
}

.logOut {
    color: #2e86ce;
}

.raw {
    background-color: #ffffff;
    width: 490px;
    height: 605px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer {
    margin-top: 25px;
    text-align: center;
    color: #9a9797;
    font-size: 13px;
    font-weight: bold;
}

.icon {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
}

.icon img {
    width: 20px;
    height: 20px;
}

.highlight {
    color: #4592d3;
}

.path{
    display: inline-block;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    color: #919191;
    border-radius: 4px;
}

.path div {
    display: inline-block;
}

.path .rootFolder{
    padding: 8px 15px 8px 15px;
}

.pageHorizontalLine {
    border-right: 1px solid black;
    margin-top: 10px;
}

.path div span {

    font-weight: bolder;
}

.navbar {
    margin-top: 15px;
}

.searchPanel{
    display: inline-block;
    border-radius: 3px;
    width: 340px;
}

.inputSearchQuery{
    display: inline-block;
    margin: 0;
}

.inputSearchQuery input{
    padding: 8px 10px;
}

.searchLine {
    width: 75%;
    height: 100%;
    outline: none;
    border: 1px solid #dedbdb;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}

.searchLine:focus-within {
    box-shadow: 0 0 5px rgb(80, 162, 222);
    border-left: 1px solid #50a2de;
    border-bottom: 1px solid #50a2de;
    border-top: 1px solid #50a2de;

}

.searchButton {
    margin-left: -4px;
    display: inline-block;
}

.button-search{
    padding-top: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.rootButtons {
    font-size: 13px;
    outline: none;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
    float: right;
    margin-top: 5px;
}

.folderControlButton {

    border-radius: 0;

}

.folderControlButton:first-child{
    border-right: 2px solid #1f1f1f;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.folderControlButton:last-child{
    margin-left: -4px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}


.tableBox {
    margin-top: 7px;
    height: 80%;
    overflow: auto;
}

.table {
    outline: none;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-overflow: ellipsis;
    overflow: hidden;
}


.table tr {
    outline: none;
    border-top: 1px solid #dedbdb;
    width: 100%;

    font-size: 13px;
    font-weight: bold;
}

.table .folderMarker {
    width: 30px;
    text-align: center;
    padding-left: 10px;
}

.table .picture {
    text-align: center;
    font-size: 20px;
    width: 50px;

}

.table .name {
    width: 60%;
}

.table .type {
    width: 160px;
    display: none;
}

.table .size {
    width: 120px;
    text-align: right;
    display: none;
}

.table .hiddenButtons {
    width: 80px;
    text-align: center;
    font-size: 20px;
}

.deleteFileButton {
    color: #d71313;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    visibility: hidden;

}

.uploadFileButton {
    color: #50a0d9;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    visibility: hidden;

}

tr:hover {
    background-color: #f5f5f5;
}

tr:hover .deleteFileButton {
    visibility: visible;
}

tr:hover .uploadFileButton {
    visibility: visible;
}

td {
    padding: 10px;
}

@media screen and (min-width: 1200px){
    .raw {
        width: 940px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .raw {
        width: 940px;
    }


}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .raw {
        width: 940px;
    }


}

@media screen and (min-width: 520px) and (max-width: 767px) {
    .raw {
        width: 940px;
    }


}