
@font-face {
    font-family: Roboto;
    src: url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-v27-latin-regular.eot") format("embedded-opentype");
}

* {
    box-sizing: border-box;
    font-family: Roboto, "Times New Roman", serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0b12ac;
}

hr {
    background-color: #000000;
    margin-top: 5px;
    margin-bottom: 0;
}

h1 {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 0;
    font-size: 30px;
}

.button {
    color: #ffffff;
    background-color: #2e86ce;
    border: 0;
    padding: 9px 14px 9px 14px;
    border-radius: 4px;
}

.button:hover {
    cursor: pointer;
    background-color: #0c3378;
}

body {
    background-color: #f2f2f2;
    color: #000000;
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    line-height: 1.43;
    min-width: 520px;
}

.logo {
    display: inline-block;
    background: url("../images/logo.png") no-repeat;
    width: 200px;
    text-indent: -9999px;
}

.main {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

.raw {
    background-color: #ffffff;
    padding: 15px 18px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 485px;
}


.header h2 {
    margin: 0;
}

.data{
    margin-top: 20px;
}


.data::after {
    display: block;
    content: '';
    clear: both;
}

.get-user-data{
    margin-bottom: 15px;
}

.get-user-data{
    margin-bottom: 15px;
}


.input-value {
    width: 100%;
}

.input-value input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dedbdb;
    margin-top: 5px;
}

.invalid-input-value input {
    border: 1px solid red;
    margin-bottom: 5px;

}

.input-value input:focus {
    box-shadow: 0 0 5px rgb(80, 162, 222);
    border: 1px solid #50a2de;
}

.error-massage {
    font-size: 13px;
    margin-top: 5px;
    color: red;
}

.submit-box {
    width: 100%;
    float: left;
}


.reference {
    color: #4592d3;
    float: right;
    margin: 10px 0;
}

@media screen  and (min-width: 768px) {

    .raw {
        width: 555px;
    }

    .data{
        margin-top: 15px;
    }

    .get-user-data{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .name-label {
        width: 34%;
        float: left;
    }

    .error-label{
        margin-top: -20px;
    }

    .input-value {
        width: 65%;
        margin-left: 5px;
    }

    .input-value input {
        float: right;
        margin-left: 5px;
    }

    .invalid-input-value input{
        margin: 5px 0;
    }

    .error-label{
        margin-top: -20px;
    }

    .invalid-input-value input{
        margin: 5px 0;
    }

    .submit-box {
        width: 65%;
        float: right;
        margin-top: 5px;
    }



@media screen and (min-width: 520px) and (max-width: 767px) {
    .data{
        margin-top: 20px;
    }

    .raw {
        min-width: 560px;
    }

    .get-user-data{
        margin: 15px 0 0;
    }


    .error-label {
        margin: 0;
    }

    .invalid-input-value input{
        margin-bottom: 5px;
    }

    .submit-box{
        margin-top: 15px;
    }
}


/*********************************************Styles for user view pages*********************************************/

.header {
    position: relative;
}

.panel {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 10px;
}

.panel li {
    font-size: 14px;
    display: inline;
    padding: 2px 6px 2px 4px;
}

.panel li:first-child {
    border-right: 1px solid #050505;
}

.logOut {
    color: #2e86ce;
}

.page-raw {
    background-color: #ffffff;
    width: 490px;
    height: 605px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer {
    margin-top: 25px;
    text-align: center;
    color: #9a9797;
}

.icon {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
}

.icon img {
    width: 20px;
    height: 20px;
}

.highlight {
    color: #4592d3;
}

.copyright {
    margin-top: 3px;
}

.path {
    display: inline-block;
    margin-bottom: 9px;
    margin-top: 0;
    background-color: #f5f5f5;
    color: #919191;
    border-radius: 4px;
    padding-left: 0;
}

.folder {
    display: inline-block;
    margin-right: -4px;
    padding: 8px 16px;

}

.folder:first-child:before {
    content: none;
}

.folder:before {
    content: "/";
    color: #d7d7d7;
    padding-right: 5px;
    margin-left: -25px;
}

.user-view-page-separate-line {
    border-right: 1px solid #000000;
    margin-top: 10px;
}


.navbar {
    margin-top: 15px;
}

.search-panel {
    display: inline-block;
    border-radius: 3px;
    width: 75%;
}

.invalid-input-value input{
    float: none;
}

.input-search-query {
    display: inline-block;
    width: 65%;
    margin-left: 0;
}

.input-search-query input {
    padding: 8px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
    float: none;
}

    .get-user-data{
        margin: 15px 0 0;
    }
.search-button-box {
    margin-left: -4px;
    display: inline-block;
}

.button-search {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.control-folder-buttons-box {
    font-size: 13px;
    outline: none;
    border: 1px solid #505050;
    border-radius: 5px;
    float: right;
    margin-top: 5px;
}

.control-folder-button {
    border-radius: 0;
    padding: 8px 12px;
}

.control-folder-button:first-child {
    border-right: 2px solid #383636;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.control-folder-button:last-child {
    margin-left: -4px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

    .invalid-input-value input{
        margin-bottom: 5px;
    }

.rename-element {
    margin-left: -10px;
    width: 50%;
    min-width: 168px;
}

.rename-element input {
    margin: 0;
}

    .submit-box{
        margin-top: 15px;
.error-rename-massage{
    font-size: 12px;
    margin-bottom: 0;
}

.error-rename-massage label{
    margin-left: 0;
}

.table-box {
    margin-top: 14px;
    height: 80%;
    overflow: auto;
}

.table {
    outline: none;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    line-height: 1.35;
}

.table tr {
    outline: none;
    border-top: 1px solid #dedbdb;
    width: 100%;
}

.table .cell-folder-marker {
    width: 30px;
    text-align: center;
    padding-left: 10px;
}

.table .cell-icon {
    text-align: center;
    font-size: 20px;
    width: 50px;

}

.table .cell-name {
    padding: 5px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table .cell-type {
    width: 160px;
    display: none;
}

.table .cell-file-size {
    width: 120px;
    text-align: right;
    display: none;
}

.table .cell-file-action-buttons {
    width: 80px;
    text-align: center;
    font-size: 20px;
}

.element-control-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    visibility: hidden;
}

.delete-element-button {
    color: #d71313;
}

.download-element-button {
    color: #50a0d9;
}

.upload-element-button {
    color: #18c918;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:hover .element-control-button {
    visibility: visible;
}

td {
    padding: 9px 10px;
}

.social-icons{
    padding-left: 0;
    margin-bottom: 0;
}

.social-icons li{
    display: inline-block;
}

@media screen and (min-width: 1200px) {
    .page-raw {
        width: 1140px;
    }

    .search-panel{
        width: 65%;
    }

    .table .cell-type {
        display: table-cell;
    }

    .table .cell-file-size {
        display: table-cell;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .page-raw {
        width: 940px;
    }

    .search-panel{
        width: 63%;
    }

    .table .cell-type {
        display: table-cell;
    }

    .table .cell-file-size {
        display: table-cell;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .page-raw {
        width: 720px;
    }

    .search-panel{
        width: 58%;
    }

    .table .cell-file-size {
        display: table-cell;
    }


}

@media screen and (min-width: 520px) and (max-width: 767px) {
    .page-raw {
        width: 735px;
    }

    .search-panel{
        width: 85%;
    }

    .table .cell-name {
        width: 80%;
    }
}